
.container-profile{
  background-color: #fff;
width: auto;
padding: 10px;
  text-align: center;
}
.container-profile label{
  background-color: #3f51b5;
  border-bottom: 1px solid #d4d4d4;
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
  color: #fff;
  padding: 5px;
  display: block;
}
.block p{
  font-size: 20pt;
}

